<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <h1 class="logo">LOGO</h1>
  <section class="register-login-container">
       <h1>Login</h1>
       <div>
        <form action="login-form" method="POST">
            <ul>
               <li>
                 <p>Email:</p>
                 <input type="email" name="log-email" id="" placeholder="Escreva seu email">
               </li>
               <li>
                 <p>Password:</p>
                 <input type="password" name="log-password" id="" placeholder="Escreva seu password">
               </li>    
            </ul>
            <button type="submit">Login</button>
        </form>
       </div>
   </section>
</body>
</html>