<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1 class="logo">LOGO</h1>
    <section class="register-login-container">
        <h1>Registro</h1>
        <div>
            <form method="POST" action="/register-form">
                <ul>
                    <li>
                        <p>Nome:</p>
                        <input type="text" name="reg-name" id="" placeholder="Escreva seu nome">
                    </li>
                    <li>
                        <p>Email:</p>
                        <input type="email" name="reg-email" id="" placeholder="Escreva seu email">
                    </li>
                    <li>
                        <p>Password:</p>
                        <input type="password" name="reg-password" id="" placeholder="Escreva seu password">
                    </li>
                    <li>
                        <p>CPF:</p>
                        <input type="text" name="reg-cpf" id="" placeholder="Escreva seu cpf">
                    </li>
                    <!-- <select name="" id="" class="select-container">
                        <option value="Vendedor">Vendedor</option>
                        <option value="Cliente">Cliente</option>
                    </select>     -->
                    <button type="submit">Enviar</button>
                </ul>
            </form>
        </div>
    </section>
</body>
</html>